spawner-bin
solutions
run
tests
cache
modules
results
log/*
*.rar
config/autodetect.xml
config/local.xml
config/local_devenv.xml
config/*.bak
judge.lock
tmp
.idea

.env.local
dockerfiles/judge/Config.pm
dockerfiles/judge/local.xml

venv